body {

}
@media (min-width: 993px) {
  #projects .container {
    width: 80%;
  }
}
@media (min-width: 601px) {
  #projects .container {
    width: 85%;
  }
}
@media (max-width: 750px) {
  .details {
    font-size: 18px;
  }
  .card-content{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .card-action {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .card-action a {
    margin-right: 0px !important;
  }
  #contact a i{
    font-size: 40px;
  }

}

nav {
  position: fixed;
  z-index: 999;
}
.body {
  z-index: 1;
  padding-top: 45px;
}
/*mobile nav*/
#nav-mobile {
  background-color: rgb(84,	110,	122);

}
#nav-mobile li {
  text-align: center;
  margin-bottom: 20px;
}
#nav-mobile li a {
  font-size: 40px;
  color: white;
}

.header {
  padding-top: 80px;
}
.header h3 {
  font-size: 60px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.bio {
  text-align: center;
  font-size: 16px;
}

.headshot {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/*skills*/
.skill-section {
  /*background-color: rgb(239,	83,	80);*/
  /*color: white;*/
}
.skills {
  text-align: center;
}
.icons {
  text-align: center;
}
.icon {
  width: 225px;
  height: 225px;
}
.icon-wrapper {
  display: inline-block;
}

@media (max-width: 750px) {
  .icon-wrapper {
    width: 30%;
    height: 30%;
    margin-bottom: 50px;
  }
  .icon {
    width: 100%;
    height: 100%;
  }

  .icon-wrapper h4 {
    font-size: 17px;
    margin-top: 0px;
  }
}

/*projects*/
#projects {
  /*background-color: rgb(44,	158,	239);*/
  /*color: white;*/
  padding-top: 20px;
}
#projects .title{
  margin-top: 0px;
}
.details {
  color: #ffab40;
  /*font-size: 18px;*/
}
.details:hover {
  color: #ffd8a6;
}
.title {
  text-align: center;
}
.card-content i {
  margin-top: 12px;
}
#projects .card-content {
  background-color: rgb(248, 248, 248);
}
#projects .card-action {
  background-color: rgb(248, 248, 248) !important;
}
.card-reveal {
  font-weight: 300;
  letter-spacing: .4px;
}
.card-reveal ul li {
  list-style-type: disc;
}
 .activator {
   cursor: pointer;
 }
.link {
  text-decoration: underline;
}
#index-banner {
  color: white;
  /*text-shadow: 0 0 5px rgba(0, 0, 0, .4);*/
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .95);
  background-image: url('../images/mountain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 580px;
}
#index-banner .web {
  font-size: 20px;
}
/*footer*/
#contact {
  text-align: center;
}
#contact a {
  margin-right: 10%;
}
.fa {
  color: white;
}
.github {
  margin-right: 0px !important;
}
