@media (min-width: 993px) {
  #projects .container {
    width: 80%;
  }
}
@media (min-width: 601px) {
  #projects .container {
    width: 85%;
  }
}
.header {
  padding-top: 80px;
}
.header h3 {
  font-size: 60px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.bio {
  text-align: center;
  font-size: 16px;
}

.headshot {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/*projects*/
#projects .container{
  background-color: rgb(245, 242, 240);
  padding: 2%;
  border-radius: 15px;
}
.card-content i {
  margin-top: 12px;
}
#projects .card-content {
  background-color: rgb(248, 248, 248);
}
#projects .card-action {
  background-color: rgb(248, 248, 248) !important;
}
.card-reveal {
  font-weight: 300;
  letter-spacing: .4px;
}
.card-reveal ul li {
  list-style-type: disc;
}
 .activator {
   cursor: pointer;
 }
.link {
  text-decoration: underline;
}
#index-banner {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
  background-image: url('../images/mountain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
}
