.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.bio {
  text-align: center;
  font-size: 16px;
}

.headshot {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/*projects*/
.card-content i {
  margin-top: 12px;
}
.card-reveal {
  font-weight: 300;
  letter-spacing: .4px;
}
.card-reveal ul li {
  list-style-type: disc;
}
 .activator {
   cursor: pointer;
 }
